body{
  background-color: #EAF6F6;
}

hr{
  background-color:#EAF6F6;
  border-style:none;
  border-top-style: dotted;
  border-color: white;
  width: 10%;
  border-width: 8px;
}

h1{
  color: #1CC5DC;
  text-shadow: 0.5px 0.5px 1px black;
}

h3{
  color:#66BFBF;
}
